* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
  } */
  
  body {
    background-image: linear-gradient(to right,#232F3F, #000);
    line-height: 1;
    font-family: "Roboto", sans-serif;
    display: grid;
    place-items: center;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #222324;
    display: flex;
    justify-content: center;
  }
  
  header > h1{
    display: flex;
    justify-content: start;
    top: 10px;
    left: 1em;
    position: fixed;
    color: #fff;
  }

  section {
    margin-top: 7.5rem;
  }
  
  img {
    display: block;
    max-width: 100%;
    margin: 11.25rem auto 0 auto;
  }
  
  p {
    font-size: 1.125rem;
    line-height: 1.33333333333;
    color: #a1a1a6;
    margin-top: 1.25rem;
    max-width: 600px;
    padding-left: 1.75rem;
  }
  
  .menu ul {
    display: flex;
    list-style: none;
  }
  
  .menu li + li {
    margin-left: 5rem;
  }
  
  .menu a {
    display: inline-block;
    font-size: 1.125rem;
    line-height: 1.33333333333;
    color: #fff;
    text-decoration: none;
    padding: 1.125rem 0;
  }
  
  .menu a:hover {
    color: #4dc8ff;
  }
  
  .content {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .content img {
    background-color: transparent;
    border-radius:50%;
    width: 100%;
  }

  .content > button {
    background-color: #E00C36;
    color: #fff;
    font-size: 25px;
    width: 200px;
    height: 70px;
    border-radius: 5px;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    outline: none;
    border: none;
  }
  
  .title {
    font-size: 4rem;
    line-height: 1.125;
    color: #f5f5f7;
  }
  
  .title span {
    color: #4dc8ff;
  }
  
  .title:first-child {
    padding-left: 1.25rem;
    border-left: 0.5rem solid #E00C36;
  }
  
  .link {
    font-size: 1.125rem;
    display: inline-block;
    text-decoration: none;
    color: #ccbf06;
    margin-top: 1rem;
    margin-left: 1.75rem;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  small {
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    color: #a1a1a6;
    margin-top: 80vh;
    margin-bottom: 5rem;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .container_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .card {
    display: flex;
    flex-wrap: wrap;
    background-color: #232F3F;
    height: 200px;
    width: 300px;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-top: 2em;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    background-color: #ececec;
    color: #000;
    height: 200px;
    width: 300px;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-top: 2em;
    color: #1eb688;
    border-radius: 10px;
    padding: 1em;
    border: 3px solid #E00C36;
  }

  .cards_2 {
    display: flex;
    flex-wrap: wrap;
    background-color: #ececec;
    height: 300px;
    width: 300px;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-top: 2em;
    color: #1eb688;
    border: 4px solid #d6af00;
    border-radius: 10px;
    padding: 1em;
  }

  .cards_3 {
    display: flex;
    flex-wrap: wrap;
    background-color: #ececec;
    color: #1eb688;
    height: 400px;
    width: 300px;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-top: 2em;
    border: 6px solid #57ff0a;
    border-radius: 10px;
    padding: 1em;
  }

  .cards p {
    color: #000;
    width: 300px;
    margin-left: -10%;
    text-align: center;
  }

  .cards_2 p{
    color: #000;
  }

  .cards_3 > p {
    color: #000;
  }


  .card > h2 {
    color: #fff;
  }

  @media (max-width: 1080px) {
    html {
      font-size: 93.75%;
    }
  }
  
  @media (max-width: 720px) {
    html {
      font-size: 87.5%;
    }
  }
  
  @media (max-width: 450px) {
    .menu li + li {
      margin-left: 2rem;
    }
  }